<h3 class="ui header">{{t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.номер-caption")
      data-test-i-i-s-prilozhenie-док-план-за-на-д-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-prilozhenie-док-план-за-на-д-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.время
      class=(if (v-get validationModel "время" "isInvalid") "error")
      label=(t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.время-caption")
      data-test-i-i-s-prilozhenie-док-план-за-на-д-e-время=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "время" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.спрКонтрАг-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.спрКонтрАг
      relationName="спрКонтрАг"
      projection="СпрКонтрАгL"
      title=(t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.спрКонтрАг-caption")
      readonly=readonly
      componentName="спрКонтрАгLookup"
      class=(if (v-get validationModel "спрКонтрАг" "isInvalid") "error")
      data-test-i-i-s-prilozhenie-док-план-за-на-д-e-спрКонтрАг=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "спрКонтрАг" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.спрКонтрАг.наименование
      class=(if (v-get validationModel.спрКонтрАг "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.спрКонтрАг.наименование-caption")
      data-test-i-i-s-prilozhenie-док-план-за-на-д-e-спрКонтрАг-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.спрКонтрАг "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.спрОбъектСтр-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.спрОбъектСтр
      relationName="спрОбъектСтр"
      projection="СпрОбъектСтрL"
      title=(t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.спрОбъектСтр-caption")
      readonly=readonly
      componentName="спрОбъектСтрLookup"
      class=(if (v-get validationModel "спрОбъектСтр" "isInvalid") "error")
      data-test-i-i-s-prilozhenie-док-план-за-на-д-e-спрОбъектСтр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "спрОбъектСтр" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.спрОбъектСтр.наименование
      class=(if (v-get validationModel.спрОбъектСтр "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-prilozhenie-док-план-за-на-д-e.спрОбъектСтр.наименование-caption")
      data-test-i-i-s-prilozhenie-док-план-за-на-д-e-спрОбъектСтр-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.спрОбъектСтр "наименование" "message")}}
  </div>
</form>
